<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/bg-currency-converter.png" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="/">
            <img class="avatar border-gray" src="assets/img/experimentfy-logo.png" alt="...">
            <h5 class="title">Experimentfy</h5>
          </a>
          <p class="description">
            https://github.com/experimentfy
          </p>
        </div>
        <p class="description text-center">
          Framework para 
          <br />experimentação continua 
          <br />em aplicações web

        </p>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Currency Converter</h5>
      </div>
      <div class="card-body">
        <form>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Value</label>
                <input type="text" class="form-control" placeholder="100.00">
              </div>



            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlSelect1">From</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlSelect1">To</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="update col-md-12">
              <button type="submit" class="btn btn-primary btn-round">Converter!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
