<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/bg-currency-converter.png" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="https://github.com/experimentfy" target="_blank">
            <img
              class="avatar border-gray"
              src="assets/img/experimentfy-logo.png"
              alt="..."
            />
            <h5 class="title">Experimentfy</h5>
          </a>
          <p class="description">https://github.com/experimentfy</p>
        </div>
        <p class="description text-center">
          Framework para
          <br />experimentação continua <br />em aplicações web
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Currency Converter</h5>
      </div>
      <div class="card-body">
        <form
          [formGroup]="currencyConverterForm"
          (ngSubmit)="valueConverter(currencyConverterForm)"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Value</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="amount"
                  placeholder="100.00"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="currencyFromSelected">From</label>
                <select
                  class="form-control"
                  formControlName="currencyFromSelected"
                >
                  <option value="" disabled>Select</option>
                  <option
                    *ngFor="let currency of currencyList"
                    [value]="currency.value"
                  >
                    {{ currency.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="currencyToSelected">To</label>
                <select
                  class="form-control"
                  formControlName="currencyToSelected"
                >
                  <option value="" disabled>Select</option>
                  <option
                    *ngFor="let currency of currencyList"
                    [value]="currency.value"
                  >
                    {{ currency.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update col-md-12">
              <button
                type="submit"
                [disabled]="!currencyConverterForm.valid"
                class="mb-3 btn-currency btn btn-primary btn-round"
              >
                <span class="loading-currency" *ngIf="showSpinner">
                  <span class="spinner-currency"></span>
                </span>
                Converter!
              </button>
            </div>
          </div>

          <div class="row" *ngIf="responseConverter.amount">
            <div class="col-md-12">
              <div class="p-3" style="background: #a8ecfaab">
                <p class="description">
                  Converted value:
                  <span class="title">{{ responseConverter.amount }}</span>
                </p>
                <p class="description">
                  Amount converted by:
                  <span class="title">{{ responseConverter.apiName }}</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="this.messageError">
            <div class="col-md-12">
              <div class="p-3" style="background: #a8ecfaab">
                <p class="description">
                  Error: <span class="title">{{ this.messageError }}</span>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
